//$mainIconSize = 48px
////$mainIconSize:56ox; //vuetify's fab size
//$navUserMenuHeight = $mainIconSize
//myBtn()
//  //font-size: 18px !important
//  width: $mainIconSize !important
//  height: $mainIconSize !important
//  transition: .3s !important
//  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24) !important
//  border-radius: 50% !important
//  &:hover
//    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2) !important
